/* HTML overrides */

body {
    font-family: sans-serif;
    font-size: 16px;
}

td {
    vertical-align: middle !important;
    padding: 4px 8px !important;
}

/* There is a padding mismatch when using w3-input for text input and select
   in combination with w3-padding-small */
select {
    padding: 6px 4px !important;
}

/* Containers */

.main-content {
    min-height: 600px;
}

.log-in-form {
    max-width: 400px;
}

.dashboard-item {
    max-width: 400px;
}

.dashboard-item-content {
    height: 200px;
}

.form-buttons {
    margin-top: 32px;
}

/* Record table */

.record-table {
    font-size: 14px;
    width: auto;
    td {
        cursor: pointer;
    }
}


/* Widths */

.width-auto {
    width: auto;
}

.width-modal {
    max-width: 600px !important;
}

.width-bank-upload {
    max-width: 600px;
}


/* Uncategorized */

.cursor-pointer {
    cursor: pointer;
}
