body {
    font-family: sans-serif;
    font-size: 16px;
}

td {
    vertical-align: middle !important;
}

.main-content {
    min-height: 600px;
}

.log-in-form {
    max-width: 400px;
}

.dashboard-item-content {
    height: 200px;
}

.cursor-pointer {
    cursor:pointer;
}

.width-auto {
    width: auto;
}

.width-modal {
    max-width: 600px !important;
}

.width-bank-upload {
    max-width: 600px;
}
