# Log files
/.logs/*.log

# Python/PyCharm files
*.pyc
/.idea/*
/.venv/*

# Test reports
/unit_tests/test_reports/*

# Document output
/docs/_build/*

# Color theme is generated
/application/styles/color-theme.css

# Static web page folder, is filled with user pages
/web/*
